body {
	background-color: #e3e3e3;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
/*Header*/
.head-container {
	width: 100%;
	height: 100px;
	background-color: #069;
	position: fixed;
	border-bottom: 1px solid #a30000;
	margin-bottom: 400px;
}

.head-wrapper {
	max-width: 100%;
	display: block;
}

.logo1 {
	float: left;
	padding-left: 100px;
}

.title {
	float: left;
	color: #e3e3e3;
	font-size: 25px;
	font-weight: bold; 
	padding-left: 10px;
}


/*Navigation*/
.nav {
	padding-top: 70px;
	padding-right: 5%;
	float: right;
	max-width: 100%;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav li {
	display: inline;
}

.nav a{
	border: 1px solid #a30000;
	border-radius: 10px;
	background-color: #e3e3e3;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #069;
    padding: .2em 1em;
}

.nav a:hover {
	color: #e3e3e3;
	background-color: #c00;
}

/*EyeCatcher*/
.banner {
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	padding-top: 200px;
}


/*Main Content*/
.intro-container {
	display: block;
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.container {
	display: block;
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 100px;
	padding-top: 400px;
}

.container h2 {
	color: #c00;
	text-align: center;
}

.content {
	color: #00517a;
	margin: 0 auto;
	max-width: 600px;
	height: 100%;
	text-align: center;
}
 /* this box keepts the three divs in place */
 
.box { 
 max-width:1360px;
 margin: auto;
}

.dp-content {
	color: #00517a;
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
	font-size: 16px;
}

.dp-content h2 {
	color: #c00;
}

/* each pars's width and height and image css */
#par1 {
	max-height:700px;
	max-width: 400px;
	float:left;
}

#par2 {
	max-height:700px;
	max-width: 400px;
	padding-left:50px;
	padding-right:50px;
	float:left;
}

#par3 {
	max-height:700px;
	max-width:400px;
	float:right;
}

.cost-img { padding-top:25px;
			max-width:100%;
			max-height:100%;
}

/*media queries for the paragraphs*/
@media (max-width:730px) {
	#par1 {padding-right: 50px;
		   padding-left: 50px;
    }
	#par3 {padding-right: 50px;
		   padding-left: 50px;
    }
}

@media (max-width:1030px) {
	#par3 { margin: 0 auto;
			float:left;
			}
}

@media (max-width:325px) {
		.cost-img {
			display:none;
	}
}
/*Side Bar*/
.sidenav {
	margin-left: 400px;
	min-width: 200px;
}

.sidenav ul {
	display: block;
	list-style: none;
	min-width: 200px;
}

.sidenav li {
	background-color: #f2f2f2;
	list-style-type: none;
	border: 2px solid black;
	min-width: 200px;
	margin: 0;
	padding-left: 0;
}

.sidenav a {
	text-align: center;
	display: block;
	color: #069;
	font-weight: bold;
	text-decoration: none;
	/*margin-right: 30px;*/
	padding-right: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.sidenav a:hover {
	color: #c00;
	background-color: #fff;
}

/*Footer*/
.footer {
	margin: 0;
	width:100%;
	color: #e3e3e3;
	background-color: #069;
	border-top: 1px solid #a30000;
	height: 40px;
	bottom: 0;
	left: 0;
}

#bottom { clear:both;
 }