body {
	background-color: #e3e3e3;
}

/*Header*/
.head-container {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

.logo1 {
	padding-right: 35px;
}

.logo2 {
	padding-right: 35px;
}


/*Navigation*/
.nav {
	border-radius: 20px;
	margin: 0 auto;
	max-width: 400px;
	background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border: 1px solid #ccc;
}

.nav ul {
	list-style: none;
	margin: 0;
}

.nav li {
	display: inline-block;
}

.nav a{
	display: block;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav a:hover {
	color: #c00;
	background-color: #fff;
	border: 1px dotted #ccc;
}

/*EyeCatcher*/
.banner {
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}


/*Main Content*/
.container {
	display: block;
	max-width: 700px;
	margin: 0 auto;
}

.container h2 {
	color: #c00;
	text-align: center;
}

.content {
	color: #00517a;
	float: left;
	max-width: 400px;
	height: 100%;
	padding-right: 50px;
	padding-left: 25px;
}
 /* this box keepts the three divs in place */
 
.box { 
 max-width:1360px;
 margin: auto;
}

.dp-content {
	color: #00517a;
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
	font-size: 16px;
}

.dp-content h2 {
	color: #c00;
}

/* each pars's width and height and image css */
#par1 {
	max-height:700px;
	max-width: 400px;
	float:left;
}

#par2 {
	max-height:700px;
	max-width: 400px;
	padding-left:50px;
	padding-right:50px;
	float:left;
}

#par3 {
	max-height:700px;
	max-width:400px;
	float:right;
}

.cost-img { padding-top:25px;
			max-width:100%;
			max-height:100%;
}

/*media queries for the paragraphs*/
@media (max-width:730px) {
	#par1 {padding-right: 50px;
		   padding-left: 50px;
    }
	#par3 {padding-right: 50px;
		   padding-left: 50px;
    }
}

@media (max-width:1030px) {
	#par3 { margin: 0 auto;
			float:left;
			}
}

@media (max-width:325px) {
		.cost-img {
			display:none;
	}
}
/*Side Bar*/
.sidenav {
	margin-left: 400px;
	min-width: 200px;
}

.sidenav ul {
	display: block;
	list-style: none;
	min-width: 200px;
}

.sidenav li {
	background-color: #f2f2f2;
	list-style-type: none;
	border: 2px solid black;
	min-width: 200px;
	margin: 0;
	padding-left: 0;
}

.sidenav a {
	text-align: center;
	display: block;
	color: #069;
	font-weight: bold;
	text-decoration: none;
	/*margin-right: 30px;*/
	padding-right: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.sidenav a:hover {
	color: #c00;
	background-color: #fff;
}

/*Footer*/
.footer {
	max-width:100%;
	color: #00517a;
	border-top: 1px solid #a30000;
}

#bottom { clear:both;
 }
