<!--Header Formed Placeholders to content-->
         <div class="head-container">
            <div class="head-wrapper">
            <div class="home">
            <img class="logo1" src="http://iinf362.github.io/team4/css/Images/rentlogo.png" alt="Know your rights">
            <h1 class="title"><a href="http://iinf362.github.io/team4">New York Renters Rights</a></h1>
        </div>
            <!--<img class="logo2" src="http://placehold.it/150x150" alt="">
            <img class="logo3" src="http://placehold.it/150x150" alt="">-->
<!--/Header-->

<!--Navigation  Links to other sections of the site-->
        <div class="nav">
                <ul>
                    <li><a href="http://iinf362.github.io/team4/leases/">Leases</a></li>
                    <li><a href="http://iinf362.github.io/team4/tenants/">Tenant's Rights</a></li>
                    <li><a href="http://iinf362.github.io/team4/repairs/">Repairs</a></li>
                    <li><a href="http://iinf362.github.io/team4/termination/">Termination</a></li>
                    <li><a href="http://iinf362.github.io/team4/evictions/">Evictions</a></li>
                    <li><a href="http://iinf362.github.io/team4/rent/">Rent Control</a></li>
                </ul>
        </div> 
<!--/Navigation-->
            </div>
        </div>