<!--Header Formed Placeholders to content-->
        <div class="head-container">
            <div class="head-wrapper">
            <img class="logo1" src="http://placehold.it/150x90" alt="">
            <p class="title">Renters Rights</p>
            <!--<img class="logo2" src="http://placehold.it/150x150" alt="">
            <img class="logo3" src="http://placehold.it/150x150" alt="">-->
<!--/Header-->

<!--Navigation  Links to other sections of the site-->
        <div class="nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
        </div> 
<!--/Navigation-->
            </div>
        </div>