body {
	background-color: #e3e3e3;
}

/*Header*/
.head-container {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
}

.logo1 {
	padding-right: 35px;
}

.logo2 {
	padding-right: 35px;
}


/*Navigation*/
.nav {
	border-radius: 20px;
	margin: 0 auto;
	max-width: 400px;
	background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border: 1px solid #ccc;
}

.nav ul {
	list-style: none;
	margin: 0;
}

.nav li {
	display: inline-block;
}

.nav a{
	display: block;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav a:hover {
	color: #c00;
	background-color: #fff;
	border: 1px dotted #ccc;
}

/*EyeCatcher*/
.banner {
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	padding-top: 15px;
}


/*Main Content*/
.container {
	display: block;
	max-width: 700px;
	margin: 0 auto;
}

.container h2 {
	color: #c00;
	text-align: center;
}

.content {
	color: #00517a;
	float: left;
	max-width: 350px;
	height: 100%;
	padding-right: 50px;
	padding-left: 25px;
}

.dp-content {
	color: #00517a;
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
	font-size: 16px;
}

.dp-content h2 {
	color: #c00;
}

/*Side Bar*/
.sidenav {
	margin-left: 350px;
	min-width: 200px;
}

.sidenav ul {
	display: block;
	list-style: none;
	min-width: 200px;
}

.sidenav li {
	list-style-type: none;
	border: 2px solid black;
	padding-top: 12px;
	padding-bottom: 12px;
	min-width: 200px;
	margin: 0;
	padding-left: 0;
}

.sidenav a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/*Footer*/
.footer {
	border-top: 1px solid #00517a;
}
